.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: transparent;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.infoSection {
    padding-top: 3rem;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 50vw;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
    border: 1px solid;
}

.subtitle {
    padding-top:3rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}